extends layout

block append scripts
  script(src='/scripts/calculator.js')

block content
  - onload="gearchoice()"
  h1 Gear ratio and speed calculator.
  p This program will calculate the speed of a vehicle for every gear.  If you have a trans-axle use 1 for the rear end ratio.
  p For those interested this is accomplished by dividing the RPM by the final gear ratio then multiplying the circumference of the tire.
  p Number of transmission gears <input id="gears" type="Range" min="1" max="10" onchange="gearchoice()">

  table#trannytable
    thead
      <tr><th>Gear</th><th>Ratio</th><th>Speed</th></tr>
    tbody

  p Engine RPM <input id="rpm" type="number" min=0 required onchange="gearratio()">
  p Rear end gear ratio <input id="gear" type="number" min=0 step=0.01  required onchange="gearratio()">
  p Tire diameter<input id="tire" type="number" min=0 step=0.1 required onchange="gearratio()">
  p
    <select id="MeasureSystem" onchange="gearratio()">
      <option value="english">U.S.</option>
      <option value="metric">Metric</option>
    </select>


  h1 Tire Size Calculator
  p This calculator will assist you in determining the actual size of your tire.  Currently very limited and only usable for passenger car tires.</p>

  select(id="tirewidth"  onchange="tiresizer()")
    -for(var i = 160; i < 350; i = i + 5){
      option(value=i) #{i}
    -}

  select(id="tireaspect" onchange="tiresizer()")
    -for(var i = 10; i < 85; i = i + 5){
      option(value=i) #{i}
    -}
      option(value="83") &nbsp;

  select(id="tirer" onchange="tiresizer()")
    option(value="R") R
    option(value="B") B
    option(value="D") D

  select(id="tirewheel" onchange="tiresizer()")
    -for(var i = 10; i < 26; i++){
      option(value=i) #{i}
    -}

  #tireanswer
